BITCollegeSite/App_Data/ASPNETDB.MDF
Utility/obj/Debug/Utility.pdb
Utility/obj/Debug/Utility.dll
Utility/bin/Debug/Utility.pdb
Utility/bin/Debug/Utility.dll
BITCollegeSite/Bin/Utility.pdb
BITCollegeSite/Bin/Utility.dll
BITCollegeSite/App_Data/aspnetdb_log.ldf
