<?xml version="1.0"?>
<configuration>

  <connectionStrings>
    <add name="BITCollege_BGContext" connectionString="Data Source=localhost\SQLEXPRESS;Initial Catalog=BITCollege_BGContext; Integrated Security=True; MultipleActiveResultSets=True" providerName="System.Data.SqlClient" />
  </connectionStrings>

  <location path="Register.aspx">
    <system.web>
      <authorization>
        <allow users="*"/>
      </authorization>
    </system.web>
  </location>

  <system.web>

  </system.web>

</configuration>
